@import url(./font.css);

body{
    background-color: rgba(14, 7, 7, 0.808);
    margin-left:5%;

}
.form{
  position:absolute;
}

form{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.788), 0 4px 8px rgba(0,0,0,.28);
  padding:50px; 
  width: auto;
  
}
form h1{
    margin-top: -3%;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    color: rgb(252, 252, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 20;
}
form .line{
  padding:12px;
  height: 35px;
  width:100%;
  align-items: center;
  letter-spacing: 1px;
  border-radius: 3px;
  border:1px solid #ffffff;
  border-bottom-color: cornflowerblue;
  border-left-color:red;
  display: flex;
  margin-top:2px;
  transition: all .3s;
  text-align: left;
  padding-left:30px;

  }
form .line:hover{
  border: 1px solid rgb(47, 0, 255);
}
form .line.uploadf{
  padding:0;
  margin-left:0;
  border:0;
}

form  input{
  font-family:"Roboto",sans-serif;
  font-weight:400;
  font-size:16px;
  color:#ffffff;
  width:100%;
  margin-bottom:2%;
  background: transparent;
  margin-left:0px;
  outline:none;
}
.Upbutton{
  height:35px;
  position: inherit;
  font-size: 14px;
  border:0;
  font-family:"Roboto",sans-serif;
  font-weight:400;
  background-color: red !important;
  color: #fff !important;
  font-weight: bold;
  margin-bottom: 20px;
}
.filename{
  padding-left:8px;
  color: white;
  font-family:"Roboto",sans-serif;
}
button{
  border:0;
  text-transform: uppercase;
  background: red ;
  font-family:"Roboto",sans-serif;
  width:100%;
  height:35px;
  font-weight: 700;
  padding: 10px;
  margin-top:20px;
  box-shadow: 0  0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0.28);
  font-size: 14px;
  cursor: pointer;
  color:#fff;
}
.chbox{
    margin-left: -140px;
}


form .newline{
    padding:12px;
    color:white;
    height: 35px;
    width:100%;
    align-items: center;
    letter-spacing: 1px;
    border-radius: 3px;
    border:1px solid #ffffff;
    border-bottom-color: cornflowerblue;
    border-left-color: red;
    display: flex;
    margin-top:2px;
    transition: all .3s;
    text-align: left;
    padding-left:30px;
    background-color: rgba(48, 47, 47, 0.644);
    }

textarea{
  padding:12px;
  color:white;
  height: 35px;
  width:100%;
  align-items: center;
  letter-spacing: 1px;
  border-radius: 3px;
  border:1px solid #ffffff;
  border-bottom-color: cornflowerblue;
  border-left-color: red;
  display: flex;
  margin-top:2px;
  transition: all .3s;
  text-align: left;
  padding-left:30px;
  background-color: rgba(48, 47, 47, 0.644);
  
}